<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarjeta generada por el servidor</title>
</head>

<body>
    <article class="card__article colorsPalette-<%= palette %>">
        <div class="card__article--data preview-header">
            <h2 class="name js-preview-name">
                <%= name %>
            </h2>
            <p class="text js-preview-job">
                <%= job %>
            </p>
        </div>
        <img class="card__article--photo js__profile-image" src="<%= photo %>"></img>
        <nav class="card__article--links">
            <a href="<%= phone %>" class="preview-icon js-preview-phone">
                <i class="fa-solid fa-mobile-screen-button icon"></i>
            </a>
            <a href="<%= email %>" class="preview-icon js-preview-email">
                <i class="fa-regular fa-envelope icon"></i>
            </a>
            <a href="<%= linkedin %>" class="preview-icon js-preview-linkedin" target="_blank" rel="noreferrer">
                <i class="fa-brands fa-linkedin-in icon"></i>
            </a>
            <a href="<%= github %>" class="preview-icon js-preview-github" target="_blank" rel="noreferrer">
                <i class="fa-brands fa-github-alt icon"></i>
            </a>
        </nav>
    </article>
</body>

</html>