<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarjeta generada por el servidor</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Montserrat:wght@400;700&family=Open+Sans:wght@400;600&display=swap"
        rel="stylesheet" />
    <script src="https://kit.fontawesome.com/bd9669bb11.js" crossorigin="anonymous"></script>
</head>

<body>
    <main class="newCard__main">
        <section class="newCard__section">
            <article class="card__article colorsPalette-<%= palette %>">
                <div class="card__article--data preview-header">
                    <h2 class="name js-preview-name">
                        <%= name %>
                    </h2>
                    <p class="text js-preview-job">
                        <%= job %>
                    </p>
                </div>
                <div><img class="newCard__img" src="<%= photo %>"></img></div>

                <nav class="card__article--links">
                    <a href="tel:<%= phone %>" class="preview-icon js-preview-phone">
                        <i class="fa-solid fa-mobile-screen-button icon"></i>
                    </a>
                    <a href="mailto:<%= email %>" target="_blank" class="preview-icon js-preview-email">
                        <i class="fa-regular fa-envelope icon"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/<%= linkedin %>" class="preview-icon js-preview-linkedin"
                        target="_blank" rel="noreferrer">
                        <i class="fa-brands fa-linkedin-in icon"></i>
                    </a>
                    <a href="https://github.com/<%= github %>" class="preview-icon js-preview-github" target="_blank"
                        rel="noreferrer">
                        <i class="fa-brands fa-github-alt icon"></i>
                    </a>
                </nav>
            </article>
        </section>
    </main>


</body>

</html>